{% load static %}

<footer>
  <div class="container-fluid text-md-left bg-dark text-white pt-3 pb-4 p-5">
    <div class="row text-md-left">
      <div class="abc col-md-3 col-lg-4 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          <i class="text-danger">LOVE</i>
          <i class="text-success">& PEACE</i> <br />
          <i class="text-danger">HOMESTAY</i>
        </h5>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          neque perferendis culpa molestias voluptatibus facere ad nihil
          assumenda? Culpa officia aut tenetur nobis dolorum nostrum
          cupiditate maxime inventore vel nihil.
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="mb-5 font-weight-bold text-white">Quick Links</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">Home</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">About us</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">Terms & Conditions</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">Privacy Policy</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">Refund Policy</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h5>Enquiry Now</h5>

        <div class="card bg-danger text-light my-1" style="border-radius:20px !important;">
          <div class="card-body">
            <div class="row justify-content-center pt-2">
              <div class="col-md-6 col-12 mb-3">
                <label for="validationCustom01" class="form-label">FULL NAME*</label>
                <input type="text" class="form-control" id="validationCustom01"
                  style="padding: 6px 10px; border-radius:18px;" value="" required>
              </div>
              <div class="col-md-6 col-12 mb-3">
                <label for="validationCustom02" class="form-label">EMAIL ID*</label>
                <input type="email" class="form-control" id="validationCustom02"
                  style="padding: 6px 10px; border-radius:18px;" value="" required>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-12 mb-3">
                <label for="validationCustom03" class="form-label">PHONE NO.*</label>
                <input type="text" class="form-control" id="validationCustom03"
                  style="padding: 6px 10px; border-radius:18px;" value="" required>
              </div>
              <div class="col-md-6 col-12 mb-3">
                <label for="validationCustom04" class="form-label">BOOKING DATE*</label>
                <input type="email" class="form-control" id="validationCustom04"
                  style="padding: 6px 10px; border-radius:18px;" value="" required>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col text-center mt-4">
                <a href="#inquiry">
                  <button type="button" class="btn btn-light text-danger" id="button"
                    style="padding: 6px 10px; border-radius:18px;">ENQUIRY
                    NOW</button>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="text-center p-2 pb-0">
      All Rights are reserved @2024
      <a class="text-white"></a>
      Secured and Maintained by NetForge Technologies</a>
    </div>
  </div>
</footer>